VITE_DEFAULT_NETWORK=sepolia
VITE_BASE_MAINNET_RPC=https://mainnet.base.org
VITE_BASE_MAINNET_CHAIN_ID=8453
VITE_BASE_MAINNET_CONTRACT=0xYOUR_MAINNET_CONTRACT

VITE_BASE_SEPOLIA_RPC=https://sepolia.base.org
VITE_BASE_SEPOLIA_CHAIN_ID=84532
VITE_BASE_SEPOLIA_CONTRACT=0x6563eCcEA49B24D7e8baB2e8Fe4B28C263c23FFe
